:root {
    --rowdies-font: 'Rowdies', sans-serif;
    --primary-color: #1A4D2E; 
    --secondary-color: #4F6F52;
    --tertiary-color: #F5EFE6;
    --hero-text-size: 3rem; /* Very huge for hero */
  --small-text-size: 0.8rem; /* Very small for footer */
  --medium-text-size: 1rem; /* Medium size */
  --extra-small-text-size: 0.6rem; /* Extra small size */


  }

body{
  margin: 0;
  padding: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    background-color: hsla(0, 67%, 94%, 0.493);
}
.logo-div img{
    width: 50px;
}
.items-div ul {
    display: flex;
    align-items: center;
    justify-content: center;

}
.items-div ul li {
    list-style: none;
    padding-right: 40px;
    font-family: var(--rowdies-font);
    font-size: var(--medium-text-size);

}
.items-div ul li a {
    text-decoration: none;
    color: var(--primary-color);

    
}
.items-div ul li a:hover {
    color: var(--secondary-color);
}
.book-now {
    font-family: var(--rowdies-font);
    font-style: normal;
    font-size: medium;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 10px;
    
}
.header-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero-section {
    font-family: var(--rowdies-font);
    font-size: var(--hero-text-size);
}
.image-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-hero .jeimg {
    width: 600px;
    height: 200px;
    padding: 3px;}
.two-hotel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.two-hotel img {
    width: 300px;
}