body{
  margin: 0;
  padding: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}
.logo-div img{
    width: 50px;
}
.items-div ul {
    display: flex;
    align-items: center;
    justify-content: center;

}
.items-div ul li {
    list-style: none;
    padding-right: 40px;
}
.items-div ul li a {
    text-decoration: none;
    color: black;
}