
  
.testimonials {
    background-color:hsla(160, 100%, 75%, 0.464);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .testimonials .testimonials-right,
  .testimonials .testimonials-left {
    width: 50%;
  }
  
  .testimonials .testimonials-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .testimonials .testimonial-card {
    padding: 10px;
  }
  
  .testimonials .testimonial-card img {
    max-width: 100%;
    height: auto;
  }
  .testimonials .testimonial-card p {

    font-size: var(--extra-small-text-size);

  }
  .testimonial-card {
    color: rgb(191, 248, 248);
    background-color: #101d33;
    border-radius: 5px;
  }
  .testimonial-card:hover{
     background-color: #0b3070;

  }
  .testimonials-right .test-text{
   font-size: 45px;
   font-family:var(--rowdies-font)
   
    
  }
  .test-text span{

    color: rgb(10, 143, 99);
  }
  .testimonials-right p {
    font-size: 15px;
  }